Microsoft.Flow/flows/28b4c91d-3b87-4ca3-8e4d-5ebbfef9d6b2/definition.json
{"name":"938ede79-b5a9-4093-8c63-50871c41a970","id":"/providers/Microsoft.Flow/flows/938ede79-b5a9-4093-8c63-50871c41a970","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Send_collection","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"b51a4fbc-858d-4c03-8926-b7f05646417a","type":"User","tenantId":"ca4eb3f5-6926-47a6-b50d-054a4d36dfdd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-11-07T14:06:59.3396649Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value","x-ms-powerflows-param-ispartial":false}},"required":["Initializevariable_Value"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarCollection","type":"string","value":"@{triggerBody()['Initializevariable_Value']}"}]}},"Parse_JSON":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@variables('VarCollection')","schema":{"type":"array","items":{"type":"object","properties":{"Image":{"type":"string"},"Product_ID":{"type":"integer"},"Product_Price":{"type":"integer"},"Quantity":{"type":"integer"},"SubTotal":{"type":"integer"},"Title":{"type":"string"}},"required":["Image","Product_ID","Product_Price","Quantity","SubTotal","Title"]}}}},"Create_HTML_table":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Parse_JSON')","format":"HTML"}},"Send_an_email_notification_(V3)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"rohg505@gmail.com","request/subject":"This is the Oreder list","request/text":"<p>from the user</p>","request/files":"@body('Create_HTML_table')","request/filenames":"Collection.html"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in Power Apps is selected. To use this flow from a Power App, select the control you want to trigger the flow and go to the Action tab in the Power Apps ribbon and select Flows."},"connectionReferences":{"shared_sendmail":{"connectionName":"shared-sendmail-cc70f915-7d2a-4ed5-80b3-5660-4809f011","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}