Microsoft.Flow/flows/4fc43d72-83b4-4d38-bcfd-1c2a829256bc/definition.json
{"name":"ca65202e-31e9-428b-9892-400e14693ae3","id":"/providers/Microsoft.Flow/flows/ca65202e-31e9-428b-9892-400e14693ae3","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SendCollection","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"b51a4fbc-858d-4c03-8926-b7f05646417a","type":"User","tenantId":"ca4eb3f5-6926-47a6-b50d-054a4d36dfdd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-11-09T04:01:27.0528963Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b22d53df-4bb7-4e59-945b-cdeb2449139d"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Initializevariable_Value":{"type":"string","description":"Enter initial value. This parameter is used as part of \"AF216FEF-5E9E-4F48-A557-F3E0DEB4996B\"","x-ms-powerflows-param-ispartial":true},"Initializevariable_Value_1":{"type":"any"}},"required":["Initializevariable_Value","Initializevariable_Value_1"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"72c99bd3-aeb5-4596-9907-4df90bc2b7a2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"VarCollection","type":"string","value":"@{triggerBody()['Initializevariable_Value']}@{triggerBody()['Initializevariable_Value_1']}"}]}},"Parse_JSON":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f9c47ffb-95e6-4e9b-9511-557135eb921e"},"type":"ParseJson","inputs":{"content":"@variables('VarCollection')","schema":{"type":"array","items":{"type":"object","properties":{"Image":{"type":"string"},"Product_ID":{"type":"integer"},"Product_Price":{"type":"integer"},"Quantity":{"type":"integer"},"SubTotal":{"type":"integer"},"Title":{"type":"string"}},"required":["Image","Product_ID","Product_Price","Quantity","SubTotal","Title"]}}}},"Create_HTML_table":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"07e85156-e3b2-4283-be8f-974a2110bc1b"},"type":"Table","inputs":{"from":"@body('Parse_JSON')","format":"HTML"}},"Send_an_email_notification_(V3)":{"runAfter":{"Create_HTML_table":["Succeeded"]},"metadata":{"operationMetadataId":"7f7b16e5-a861-42c4-a6e7-c631973a8fbd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"rohg505@gmail.com","request/subject":"This is Order List","request/text":"<p>From The user @{triggerBody()['Initializevariable_Value_1']}</p>","request/files":"@body('Create_HTML_table')","request/filenames":"Collection.html"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"outputs":{},"description":"Create one or more actions to happen when a button or link in Power Apps is selected. To use this flow from a Power App, select the control you want to trigger the flow and go to the Action tab in the Power Apps ribbon and select Flows."},"connectionReferences":{"shared_sendmail":{"connectionName":"shared-sendmail-cc70f915-7d2a-4ed5-80b3-5660-4809f011","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}